*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Exo', sans-serif;
}

:root{
    --background-color: rgb(255, 248, 225);
    --text-color: rgb(47, 47, 47);
    --green:rgb(56, 102, 65);
    --orange:rgb(244, 140, 6);
    --coral:rgb(230, 57, 70);
}
body{
    background-color: var(--background-color);
    overflow-x: hidden;

}

header{
    /* position:fixed; */
    /* top:0; */
    /* left:0; */
    width: 100%;
    background-image: linear-gradient(to right, var(--coral), #ffe4b5);
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-family: exo;
    font-weight: 300;
    padding:15px;
    margin-bottom: 80px;
}

header.scrolled{
    box-shadow: 0px 2px 10px rgba(131, 9, 9, 0.808);
    background-image: linear-gradient(to right, var(--coral), #ffe4b5);
}

header.tagline-section{
    background-color: var(--background-color);
    background-image: none;
}

.lesson{
    background-color: var(--coral);
    background-image: linear-gradient(to right, var(--coral), #ffe4b5);
    padding:50px;
    margin: 0 150px;
    margin-bottom: 30px;
    border-radius: 15px;
    /* width:100%; */
    max-width:100%;
}

.streak{
    position: relative;
    top:0;
    background-color: var(--coral);
}

h3{
    font-size: 25px;
}

