#signup-popup,#signin-popup,#signup-popup2{
    display: none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 1000;
    background-color: rgb(0, 0, 0,0.6);
    border-radius: 5px;
    width:100%;
    height:100%;
}

.container{
    position: relative;
    background-color: white;
    height: 100%;
    margin: 0 20%;
    padding:20px 40px 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signin-container{
    height: auto;
    margin: 10% 20%;
}

.container .hr{
    margin: 30px 0 ;
}

.popup-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:10px;
    margin: 0;
    padding: 0;
}

.popup-header .right{
    font-size:15px;
}

.container input{
    width:100%;
    margin-bottom:20px;
    border-radius: 5px;
    border:none;
    border-left: 2px solid black;
    background-color: rgba(168, 164, 164, 0.521);
    padding:15px ;
}

input[type="checkbox"]{
    width:15px; 
    margin-right:0;  
}

label{
    font-size: 15px;
    margin:auto 0 auto auto;
}

form{
    flex:1;
}

#close,#close-signin,#close2{
    position:fixed;
    top:0;
    left:10px;
    font-size: 50px;
    color: aliceblue;
}

#close:hover,#close-signin:hover,#close2:hover{
    color: red;
    cursor: pointer;
}

.formsubmit{
    
    width:130px;
}
    