@import url('https://fonts.googleapis.com/css2?&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

:root{
    --background-color: rgb(255, 248, 225);
    --text-color: rgb(47, 47, 47);
    --green:rgb(56, 102, 65);
    --orange:rgb(244, 140, 6);
    --coral:rgb(230, 57, 70);
}

body{
    background-color: var(--background-color);
    font-size: 16px;
    font-family: 'Nunito sans',Helvetica, sans-serif;
}

/* styling for the header */
header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background-image: linear-gradient(to right, var(--coral), #ffe4b5);
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:15px;
}
/*styling for the logo  */ 
header .left{ 
    display: flex;
    justify-content:left;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size:24px;
    font-weight: 700;
    /* background-color:var(--background-color) ; */
    padding:5px;
    border-radius: 7px;
}

span.naija{
    color:#004225;
}

span.tongues{
    color:#f0efef;
}
/* styling for the login and signup */
header .right{
    display: flex;
    justify-content: right;
    align-items: center;
    gap:15px;
}
 /* button styling */
 button{
    border:none;
    border-radius: 5px;
    /* border-bottom: var(--coral) 1px solid;
    background-color: var(--background-color); */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;   
    padding:5px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* letter-spacing: 0.5px; */
}
button.signup{
    background-color: bisque;
    border-bottom: var(--coral) 1px solid;
}
button.signin{
    background-color: var(--background-color);
    border-bottom: var(--orange) 1px solid;

}
/* styling for hover */
 button.signup:hover{
    background-color: var(--coral);
    border-bottom: var(--background-color) 1px solid;
    color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);

}
button.signin:hover{
    background-color: var(--orange);
    border-bottom: bisque 1px solid;

    color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);

}
/* styling when the header is scrolled */
header.scrolled{
    box-shadow: 0px 2px 10px rgba(131, 9, 9, 0.808);
    background-image: linear-gradient(to right, var(--coral), #ffe4b5);
}
/* styling for about naijatongues */
section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 50px;
    /* gap:20px; */
    margin:0 0 100px 0;
    background-image: linear-gradient(to right, var(--coral), #ffe4b5);
}
.about p{
   font-size: 17px;    
   font-family: 'Nunito sans',Helvetica, sans-serif;

}
.languages{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.languages p{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-style: outset;
    border-radius:5px;
    /* width:80px; */
    padding:3px 10px;
    box-shadow: 3px 3px blur;
}
/* styling for the languages */
.languages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
/* styling fot when header reaches the tagline */
header.tagline-section{
    background-color: var(--background-color);
    background-image: none;
}
span.tagline-section{
    color: #daaea3;
}
header.feature1{
        background-image: linear-gradient(to bottom right, rgba(230, 57, 70, 0.8), rgba(47, 47, 47, 0.5));
}
header.feature2{
        background-image: linear-gradient(to top right, rgba(244, 141, 6, 0.8), rgba(47, 47, 47, 0.5));
}
header.feature4{
        background-image: linear-gradient(to bottom left, rgba(56, 102, 65, 0.8), rgba(230, 57, 70, 0.5));
}
header.feature5{
    background-image: linear-gradient(to bottom right, rgba(230, 57, 70, 0.8), rgba(255, 248, 225, 0.5));
}

header.tagline-section2{
     background-color: var(--background-color);
    background-image: none;
}
span.tagline-section2{
    color: #daaea3;
}
/* stying for the tagline section */ 
.tagline{
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
/* styling for the features description */
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px;
    gap:20px;
    border-radius: 5px;
    /* width: 100%; */
    height: 530px;
}

.feature img{
    width:400px;
    height:284px;
}


.feature .right{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: left;
    margin-left: 100px;
    padding-left:10px;

}

.feature .right h3{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.feature .right p{
    font-size: 24px ;
    font-family: 'Nunito sans', sans-serif;
}

#feature1{
    background-image: linear-gradient(to bottom right, rgba(230, 57, 70, 0.8), rgba(47, 47, 47, 0.5));
}

#feature2{
    flex-direction: row-reverse;
    background-image: linear-gradient(to top right, rgba(244, 141, 6, 0.8), rgba(47, 47, 47, 0.5));
    
}

/* #feature3{
    background-image: linear-gradient(to bottom right,rgba(244, 141, 6, 0.8), rgba(56, 102, 65, 0.5));
    
} */

#feature4{
    flex-direction: row-reverse;
    background-image: linear-gradient(to bottom left, rgba(56, 102, 65, 0.8), rgba(230, 57, 70, 0.5));
}

#feature5{
    background-image: linear-gradient(to bottom right, rgba(230, 57, 70, 0.8), rgba(255, 248, 225, 0.5));
}
/* styling for the bottom tagline */
.tagline2>p{
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}
/* styling for the footer */
footer{
    background-image: linear-gradient(to bottom right, var(--coral), #ffe4b5);
    padding:20px;
}

h3{
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}

.topfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    margin:10px 50px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.socialmedia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:15px;
}

 
 .newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    margin-top:30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input{
    padding:10px;
    border-radius: 4px;
    margin-right: 15px;
}

.submit{
    display: flex;
    justify-content: center;  
}


/* styling for newletter submit button */

.newsletter button{
    width:150px;
    margin-top: 15px;
    background-color: burlywood;
}
button[type=submit]:hover{
    box-shadow: 0px 2px 15px rgba(218, 32, 32, 0.1);
}

a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.hr{
    border: 1px solid grey;
    margin:40px;
}
.credits{
    text-align: center;
    margin-top: 25px;
}