@import url('https://fonts.googleapis.com/css2?&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Exo', sans-serif;
}

:root{
    --section-background: #fffdf7;
    --background-color:#fafafa;
    --text-color: rgb(47, 47, 47);
    --green:rgb(56, 102, 65);
    --orange:rgb(244, 140, 6);
    --coral:rgb(230, 57, 70);
    --button:#d84315;

    
}
body{
    background-color: var(--background-color);
    overflow-x: hidden;

}

.back{
    position:fixed;
    top:10px;
    left:10px;
}

.content{
   display: flex;
    flex-direction: column;
    justify-content: center;
    margin:40px 200px;
    padding: 20px;
}

.stories{
     margin:0 220px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:70%;
    gap:40px;
    /* align-content: start; */
    justify-items: center;
}

.stories a{
    background-color: var(--section-background);
    width:320px;
    height:280px;
    border-radius:10px;
    padding:30px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}