@import url('https://fonts.googleapis.com/css2?&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Nunito sans', sans-serif;
    font-size: 16px;
}

:root{    
    --section-background: #fffdf7;
    --background-color:#fafafa;
    --text-color: rgb(47, 47, 47);
    --green:rgb(56, 102, 65);
    --orange:rgb(244, 140, 6);
    --coral:rgb(230, 57, 70);
    --button:#d84315;
}
body{
    background-color: var(--background-color);
}

.back{
    position:fixed;
    top:10px;
    left:20px;
    background-color: var(--orange);
    padding:5px;
    border-radius: 5px;
}



h1, h2{
    text-align: center;
    margin: 20px 0;
}

.letters{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    margin:0 180px;
    gap:20px;
}

.letter{
    background-color: var(--section-background);
    padding:30px;
    margin:20px;
    width:150px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 5px 3px 6px 1px gray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:10px;
}

.letter h3{
    font-size: 28px;
}

/* .letter h4{
    font-size: 30px;
} */
.letter-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 20px;
    gap:40px;

}

.fa-circle-play{
    font-size:30px;
    flex-direction: end;
    color: var(--button);
}

