*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Exo', sans-serif;
}

:root{
    --background-color: rgb(255, 248, 225);
    --text-color: rgb(47, 47, 47);
    --green:rgb(56, 102, 65);
    --orange:rgb(244, 140, 6);
    --coral:rgb(230, 57, 70);
}
body{
    background-color: var(--background-color);
    overflow-x: hidden;

}

.back{
    position:fixed;
    top:10px;
    left:20px;
}



h1, h2{
    text-align: center;
    margin: 20px 0;
}

.letters{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    margin:0 180px;
    gap:20px;
}

.letter{
    background-color: var(--coral);
    padding:30px;
    margin:20px;
    width:180px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 5px 3px 6px 1px gray;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:10px;
}

.letter h3{
    font-size: 50px;
}

.letter h4{
    font-size: 30px;
}
.letter-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 20px;
    gap:40px;

}

.fa-circle-play{
    font-size:30px;
    flex-direction: end;
   
}

