@import url('https://fonts.googleapis.com/css2?&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Nunito sans', sans-serif;
}

:root{
    --section-background: #fffdf7;
    --background-color:#fafafa;
    --text-color: rgb(47, 47, 47);
    --green:rgb(56, 102, 65);
    --orange:rgb(244, 140, 6);
    --coral:rgb(230, 57, 70);
    --button:#d84315;
}

body{
    background-color: var(--background-color);
}

.introduction{
    display: flex;
    flex-direction: column;
    /* margin: 0 230px; */
    padding: 20px;
}
.introduction h1{
    font-size: 32px;
    font-family: 'ubuntu', sans-serif;
}
.introduction h2{
    font-size: 20px;
    font-family:'Nunito sans', sans serif;
}

.sections{
    margin: 0 150px;
    margin-top: 30px;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

.phrases{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--section-background);
    padding: 20px;
    border-radius: 10px;
    /* gap:30px; */
    width:65%;
}

.phrase,.sentences{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;  
}

.phrase,.sentences{
    font-size: 16px;
    font-family: 'Nunito sans', sans serif ;
}

.fa-circle-play{
    font-size: 40px;
    color: var(--button);
    cursor: pointer;
}
.score{
    font-size: 18px;
    font-weight: 600;
    background-color: var(--section-background);
    padding: 20px;
    border-radius: 5px;
    width: 43%;
}
.english{
    display:none
}
.show{
    font-size: 18px;
    font-weight: 500;
    text-decoration: dotted underline;
}

footer{
    /* position: sticky;
    bottom: 0;
    z-index: 100;
     */    text-align: center;
    /* background-color: var(--coral); */
    color: white;
    width: 100%;
    padding: 20px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

footer a{
    background-color:var(--button);
    color: var(--text-color);
    border: none;
    padding: 20px 30px;
    margin:5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

