*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Exo', sans-serif;
}

:root{
    --background-color: rgb(255, 248, 225);
    --text-color: rgb(47, 47, 47);
    --green:rgb(56, 102, 65);
    --orange:rgb(244, 140, 6);
    --coral:rgb(230, 57, 70);
}
body{
    background-color: var(--background-color);
    overflow-x: hidden;

}




header{
    /* position:fixed; */
    /* top:0; */
    /* left:0; */
    width: 100%;
    background-image: linear-gradient(to right, var(--coral), #ffe4b5);
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-family: exo;
    font-weight: 300;
    padding:15px;
    /* margin-bottom: 80px; */
}

header.scrolled{
    box-shadow: 0px 2px 10px rgba(131, 9, 9, 0.808);
    background-image: linear-gradient(to right, var(--coral), #ffe4b5);
}

header.tagline-section{
    background-color: var(--background-color);
    background-image: none;
}

.main{
    display: flex;
}

.sidebar{
    background-color: var(--coral);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* padding:0 20px 0; */
}

.sidebar a{
    text-decoration: none;
    /* margin-bottom: 20px; */
    padding:30px 50px;
}

.sidebar a:hover{
    background-color: var(--orange);
}

.lesson-topics{
    flex:1;
    margin:100px 150px 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 60px;
    justify-items: center;
    align-items: center;
}

.lesson-header{
    background-color: var(--coral);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    width:100%;
}
.lesson-header img{
    width: 200px;
    height: 200px;
}
a.start{
    margin:0 auto 10px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--background-color);
    padding:5px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    width:70%;
}
a.start:hover{
    background-color: var(--green);
    color: var(--background-color);
    cursor: pointer;
}
.fa-caret-right{
    font-size:20px
}

.streak{
    position: relative;
    bottom:600px;
    left: 5 00px;
    background-color: var(--coral);
}

h3{
    font-size: 25px;
}

